node_modules/
test-results/
playwright-report/
blob-report/
playwright/.cache/
test-results/
screenshots/
allure-report/
allure-results/
.env
.DS_Store
*.log
coverage/
.nyc_output/
.cache/
dist/
build/